*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("../img/background003.jpg");
    background-size: cover;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.medadd{
    width: 500px;
    background-color: rgb(0,0,0,0.6);
    margin-top: 3%;
    margin-left: 52%;
    color: #ffffff;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
}
.main{
    background-color: rgb(0, 0, 0, 0.5);
    width: 500px;
    height: 500px;
    margin-left: 52%;
}
forms{
    padding: 10px;
}
.name{
    margin-left: 15px;
    margin-top: 30px;
    width: 200px;
    color: white;
    font-size: 25px;
    font-weight: 700;
}
.brand{
    position: relative;
    left: 220px;
    top: -37px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}
.generic{
    position: relative;
    left: 220px;
    top: -35px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}
.company{
    position: relative;
    left: 220px;
    top: -34px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}
.strength{
    position: relative;
    left: 220px;
    top: -34px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}
.btn{
    position: relative;
    left: -70px;
    top: 50px;
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
}

