body{
    background-repeat: no-repeat, repeat;
    background-size: cover;
}
.main{
    width: 450px;
    height: 480px;
    position: relative;
    background: transparent;
    padding: 5px;
    overflow: hidden;

}

 .toggle-btn{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
    border: 0;
    outline: none;
    position: relative;
    background: transparent;

} 
  
.inputs{
    top: 80px;
    position: absolute;
    width: 400px;
    transition: .5s;
}

#fname{
    line-height: 20px;
    width: 180px; 
    border-radius: 6px;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 45px;
}

#lname{
    line-height: 20px;
    width: 180px; 
    border-radius: 6px;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 45px;
}

#eml{
    line-height: 20px;
    width: 180px; 
    border-radius: 6px;
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 80px;
    text-align: center;
    
}

#nmbr{
    line-height: 20px;
    width: 180px; 
    border-radius: 6px;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 15px;
}

#addr{
    line-height: 20px;
    width: 250px; 
    border-radius: 6px;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 60px;
}

.pdw{
    line-height: 20px;
    width: 180px; 
    border-radius: 6px;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 10px;
}

.dp{
    line-height: 20px;
    width: 180px; 
    border-radius: 6px;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 45px;
}

.pd{
    line-height: 20px;
    width: 180px; 
    border-radius: 6px;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 40px;
}

.pdw{
    line-height: 20px;
    width: 180px; 
    border-radius: 6px;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 10px;
}


#user{
    left: 50px;
}
#purchase{
    left: 500px;
}
#settings{
    left: 900px
}

td{
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}