.info{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 300px;
    margin-top: 30px;
    margin-left: 300px;
    padding-left: 50px;
    padding-top: 5px;
    background-color: rgba(255, 191, 191, 0.7);
    border-radius: 50px;
}

.col-1{
    flex-basis: 30%;
    min-width: 100px;
    padding: 5px;
}

.col-1 ul {
    list-style-type: none;
}

